# Root level
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Web3 / Hardhat specific
client//web3/artifacts/
client//web3/cache/
client//web3/coverage/
client//web3/coverage.json
client//web3/typechain/
client//web3/typechain-types/
client//web3/.env
client//web3/.env.local
client//web3/.env.development.local
client//web3/.env.test.local
client//web3/.env.production.local


# Next.js specific
/client/.next/
/client/out/
/client/build/
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
# Next.js production
/client/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Testing
/coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*